/* #0B0C10 - black
#1F2833 - dark gray blue
#C5C6C7 - gray
#66FCF1 - brightteal
#45A29E - teal */

#calendar {
  /* height: 100%; */
  min-height:100%;
  width:100%;
  padding:30px;
  display: flex;
    flex-direction: column;
}

#calendar > section {
  display:flex;
  flex-direction: row;
  align-items:center;
  /* width: 30%; */
  margin: 0 auto 20px 0px;
  justify-content: space-between;
}

#calendar header {
      display: flex;
    justify-content: space-between;
    width: 255px;

}

#calendar header > h1 {
  margin: 0px 10px;
  font-size: 25px;
  font-weight: 600;
}

#calendar > section button {
  outline:  none;
  border:none;
  /* background: #eaeaea; */
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 15px;
  cursor: pointer;
}
#calendar > section button:hover {
  background: #eaeaea;
}
#calendar > section button.selected {
  background: #eaeaea;
}

#cal-month {
  display:flex;
  flex-direction: column;
  /* padding:30px; */
  flex-grow:1;
  background: #f6f8f9;
}

#cal-month > ul {
  display:flex;
  flex-direction: row;
  width: 100%;
  /* flex-grow: 1; */
  flex: 1 1 0px;
  
}

#cal-header {
  max-height: 40px;
  background: #1F2833;
  color:white;
  font-size:15px;
  font-weight:600;
  border-radius:10px;
      align-items: center;
}


#cal-month > ul > li {
  flex: 1 1 0px;
  margin:1.5px;
  background:white;
  overflow: hidden;
  max-height: 175px;
}

#cal-header > li {
  background:none !important;
  text-align: center;
  margin: 0px !important;
}

#calendar header > div {
  cursor: pointer;
}

ul.hide > li:first-child, ul.hide > li:last-child{
  display: none;
}

#cal-day {
  padding: 4px;
  height: 100%;
  font-size: 11px;
  font-weight: bold;
  color:#45A29E;
  display:Flex;
  flex-direction: column;
}

#flag {
  flex:1;
}

#cal-day > ul {
    padding: 4px 5px;
    color: black;
    font-weight: 500;
       max-height: 90%;
    overflow: scroll;
}

#cal-day li {
  box-shadow:0 1px 3px 0 rgba(21,27,38,.15);
  padding: 3px 5px;
   line-height: 14px;
   border-radius: 4px;
   margin-bottom:5px;
   border: 1px solid #e8ecee;
   cursor:pointer;
   display: flex;
    justify-content: space-between;
    align-items: center;
}



div.disabled {
  background: #e2e2e2;
}

#cal-day > ul > li > input {
  outline:none;
  max-width:100%;
  border: none;
}

.cal-day-item {
  z-index: 1;
}

.cal-day-item h4 {
  max-width: 80%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
}

.cal-day-item > div:hover * {
  fill: #45A29E;
}