/* #0B0C10 - black
#1F2833 - dark gray blue
#C5C6C7 - gray
#66FCF1 - brightteal
#45A29E - teal */

#task-filter {
  display: flex;
    flex-direction: row;
    padding:15px;
    background: #e8ecee;
}

#task-filter h4 {
  font-size: 16px;
  font-weight:600;
  /* padding-bottom:15px; */
}
#task-filter .filter {
    width: 18%;
    margin-right: 2%;
    position:relative;
}


/* #task-filter > div:first-of-type {
  border-top:none;
} */

#task-filter ul.hide {
  display:none;
}

.filter > ul {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* margin-top: 10px; */
  background: white;
    padding: 7px;
    border: 1px solid #cccccc;
    overflow: scroll;
    max-height: 80px;
    border-radius: 0px 0px 10px 10px;
}

#task-filter li.selected {
    border-radius: 20px;
    padding: 3px 10px;
  border: 1px solid #cccccc;
  display: flex;
  flex-direction: row;
  background:white;
  align-items: center;
  margin-bottom:5px;
}

li.selected label {
    font-size: 12px;
    line-height: 12px;
    margin-right: 10px;
}

#task-filter ul.dd {
    display:unset;
    position: absolute;
    top: 31px;
    margin-top:0px;
    /* transform: translateY(38%); */
    border: 1px solid #cccccc;
    border-radius: 0 0 4px 4px;
    left: 0;
    background: white;
    padding: 5px;
    width: 100%;
    max-height: unset;
}

ul.dd > li {
padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul.dd input {
  margin-right:8px;
}

#task-filter > h1 {
  font-size: 18px;
    font-weight: 600;
    /* padding-bottom: 25px; */
}
.filter div.header{
  cursor:pointer;
  display:flex;
  flex-direction: row;
  align-items: center;
  position:relative;
     border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 6px 6px 6px;
    background:white;
}

.filter div.no-b {
      cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 0px 0px;
    padding: 6px 6px 8px 6px;
    background: white;
    border-bottom: 0px;
}

.filter ul.header {
  display:none;
}


.filter > div > * {
  /* margin-right:5px; */
}

.filter > ul {
  /* padding-top:  15px; */
}

#task-filter > div:last-of-type h4 {
  padding-bottom:15px;
}

#task-filter > button {
border: none;
    outline: none;
    padding: 7px;
    background:#45A29E;
    border-radius:10px;
    color:white;
    font-weight:500;
    font-size:16px;
    margin-bottom:20px;
}

#task-filter .react-datepicker-wrapper {
  width: 80px !important;
}

#task-filter .react-datepicker-wrapper:first-of-type {
  margin-right:10px !important;
}