/* #0B0C10 - black
#1F2833 - dark gray blue
#C5C6C7 - gray
#66FCF1 - brightteal
#45A29E - teal */

#home {
  /* height: 100vh; */
  padding: 20px;
}

#home h1 {
    font-size: 18px;
    font-weight: 500;
    color: grey;
    margin: 0 0 50px 0;
    text-align: right;
}


#home section.list {
  /* margin: 0px 10%; */
    margin: 0 auto 30px auto;
    width: 730px;
}

#home section:first-of-type {
  margin: 70px auto 30px auto;
}


section.list > div {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid #e8ecee;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

section.list h2 {
  margin-left:10px;
}

/* PROJECT INDEX AND ITEMS */

ul#project-index {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul#project-index li {
  padding: 10px;
  min-height: 50px;
  border-radius: 4px;
}

ul.project-item {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 400ms;
}

ul.project-item:hover {
  background: #f3f3f3;
  transform: scale(1.1);
}

ul.project-item div:first-child {
  padding: 20px;
  border-radius:20px;
  background: #45a29e;
  margin-bottom:10px;
}

ul.project-item label {
  font-weight: 500;
  color: gray;
}

ul.project-item.new div:first-child{
  padding: 10px;
  
}

svg.add-svg {
    padding: 12px;
    box-sizing: unset;
    border: 4px dotted white;
    border-radius: 10px;
}

/* 
li.new-pi >ul > div{
  background:white;
  border: 2px dashed #45a29e;
} */

.list-item.task {
  line-height: 30px;
}
.accept {
outline: none;
    border: none;
    background: #45a29e;
    color: white;
    border-radius: 6px;
    margin-left: auto;
    height: 30px;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 4px grey;
}