/* #0B0C10 - black
#1F2833 - dark gray blue
#C5C6C7 - gray
#66FCF1 - brightteal
#45A29E - teal */
button, button *{
  cursor: pointer !important;
}
#home {
  /* height: 100vh; */
  /* padding: 20px; */
  margin: 0 auto auto auto;
  display:flex;
  flex-direction: row;
  max-height: 100%;;
}

#home h2 {
    font-size: 16px;
    font-weight: 500;
}

.home__left div.search {
    border: 1px solid #c3c6c7;
    border-radius: 10px;
    outline: none;
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
}

div.search input:focus + svg > path{
  fill: #6b6b6b;
}

div.search input:focus {
  color: #6b6b6b;
}


.search > input {
  border:none;
  outline:none;
}

#home > div  {
         padding: 0 20px 20px 20px;
    /* margin: 0 auto; */
    
    margin: 1vw;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}

.home > .home__right {
      /* background: #e7e7e7; */
      /* padding:0px; */
          /* background: #efefef; */
    border-radius: 10px;
    width: 30vw;

}

.home h1 {
    font-size: 18px;
    font-weight: 500;
    color: grey;
    margin: 0 0 50px 0;
    text-align: right;
}


#home section.list {
  /* margin: 0px 10%; */
    margin: 0 auto 30px auto;
    /* width: 730px; */
    width: 100%;
    /* max-height: 35vh; */
    /* overflow: scroll; */
}

.home__left {
      width: 40vw;
      min-width: 600px;
}

#home section.list.home {
  /* margin: 70px auto 30px auto; */
  /* height:50%; */
}


section.list > div {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid #e8ecee;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

section.list h2 {
  margin-left:10px;
}

/* PROJECT INDEX AND ITEMS */

ul#project-index {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
      max-height: 200px;
    overflow: auto;

  /* justify-content: space-between; */
}

ul#project-index li {
  /* padding: 10px;
  min-height: 50px;
      margin: 20px 40px 20px 0; */
    padding: 10px;
    min-height: 50px;
    margin: 0px 0 0px 0;
    border-radius: 4px;
    width: 32%;
}

ul.project-item {
  display:flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  border-radius: 20px;
  cursor: pointer;
  transition: all 400ms;
  padding: 15px;
}

ul.project-item:hover {
  background: #f3f3f3;
  transform: scale(1.1);

}

ul.project-item div:first-child {
  padding: 20px;
  border-radius:20px;
  background: #45a29e;
  margin-bottom:10px;
}

ul.project-item label {
  font-weight: 500;
  color: gray;
      text-align: center;
    font-size: 13px;
    text-align: center;
    line-height: 20px;

}

ul.project-item.new div:first-child{
  padding: 10px;
  
}

.no-items.project {
  margin: 15px auto 0 auto;
}


svg.add-svg {
    padding: 12px;
    box-sizing: unset;
    border: 4px dotted white;
    border-radius: 10px;
}

/* 
li.new-pi >ul > div{
  background:white;
  border: 2px dashed #45a29e;
} */

.list-item.task {
  line-height: 30px;
}
.accept {
outline: none;
    border: none;
    background: #45a29e;
    color: white;
    border-radius: 6px;
    margin-left: auto;
    height: 30px;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 4px grey;
}


.reminders {
  display:flex;
  flex-direction: column;
  box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
  border-radius:10px;
  /* flex:1; */
  border-radius: 10px;
  /* margin-bottom: 30px; */
  margin-bottom:auto;
  border: 1px solid #ebebeb;
}

.reminders > ul {
  display:flex;
  padding: 4px 25px 30px 25px;
  flex-direction: column;
  flex:1;
  background:white;
  border-radius: 0 0 10px 10px;
}

.reminders > header {
      padding: 20px 20px;
    align-items: center;
  background: #efefef;
  border-radius: 10px 10px 0 0;
      display: flex;
    justify-content: space-between;
}

.reminder {
  display:flex;
  /* border-bottom: 1px solid #b3b3b3; */
  align-items: center;
  /* padding:20px 0px; */
  cursor:pointer;
}

.reminder__text {
    border-bottom: 1px solid #dee1e2;
    padding: 13px 0px;
    margin: 0 15px 0 15px;
    flex: 1;
    color: black;
    line-height: 12px;
    font-size: 12px;
    display:flex;
}

.reminder__text > h3 {
  flex:1;
  margin-right:5px;
}

.reminder.done .reminder__text {
  text-decoration: line-through;
}

.reminder:hover svg {
  visibility: visible;
}

.reminder__text svg {
  visibility:hidden;
}

.reminder input {
  outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 12px;
}

.circle {
height: 15px;
    width: 15px;
  border-radius:50%;
  border: 2px solid #676767;
  cursor: pointer;
}

.reminder .circle:hover {
  background: #676767;
}

.reminder.done .circle {
  background: #676767;
}

.reminder.done .circle:hover {
  background:none;
}

.reminders h1 {
  color:black;
  font-size: 16px;
    font-weight: 500;
  margin-bottom:0px;
  text-align: left;
}

.plus {
height: 15px;
    width: 15px;
}

.home__left div.toggle {
  display: flex;
  align-items: center;
}

.no-items {
  display: flex;
    align-items: center;
    color: #828991;
    justify-content: center;
    margin-top: 30px;
}

.no-items h3 {
  font-size:18px;
  margin-right: 10px;;
}

.blue-btn {
  display: flex;
    background: #45a29e;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 12px;
    letter-spacing: 0.4px;
    margin-left: auto;
    font-weight: 400;
    box-shadow: 0 0px 5px 0 rgba(21, 27, 38, 0.47);
    align-items: center;
    transition: all 400ms;
    width: 120px;
    justify-content: center;
    align-items: center;
}

.blue-btn:hover {
  transform: scale(1.03);
  box-shadow: 0 0px 8px 0 rgba(21, 27, 38, 0.47);
}

.blue-btn > svg {
  margin-right:10px;

}

.new-project-li {
  display:none;
}

.task__header {
  display: flex;
    align-items: center;
    flex: 1;
}

.reminders > ul li:first-child > .reminder__input{
  padding: 10px 0px;
}