@media only screen and (max-width: 1220px) {
  #project-show > div:first-child, #project-show > ul {
    padding: 0px 6vw;
  }

  #task-index, #project-feed {
    margin: 2vw 6vw;
    width:auto;
  }
}
@media only screen and (max-width: 1100px) {
  .reminders > header {
      padding: 14px;
  }

  .reminder > ul {
        padding: 0 25px 25px 25px;
  }
  #home {
    flex-direction: column-reverse;
        justify-content: center;
    align-items: center;
  }

  #home > div.home__left {
    max-width:650px;
  }


  #home > .home__right {
        width:700px;
    flex-shrink: 0;
    max-height: 40vh;
  }

  #home section.list {
    margin: 0 auto 50px auto;
  }

  #home > .home__left {
    /* margin-bottom:0px;
    padding-bottom:0px; */
  }
}