/* #0B0C10 - black
#1F2833 - dark gray blue
#C5C6C7 - gray
#66FCF1 - brightteal
#45A29E - teal */

.modal-background {
  position: fixed;
  min-height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.91);
  /* background: black; */
  z-index: 5000;
  overflow: scroll;
  top: 0;
}

.modal-child  {
  background: white;
  box-sizing: border-box;
  position: absolute;
  width: 470px;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6000;
  border-radius: 10px;
  opacity: 1 !important;
}

form.project, form.task {
  display:flex;
  flex-direction: column;
  /* padding: 30px; */
  padding: 8% 10%;

}

form.project > *, form.task > * {
  /* margin-bottom: 20px; */
}

form.task > h4, form.project > h4{
      color: #1F2833;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}

form.task > div {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-top: 1px solid #dedbdb;
    border-bottom: 1px solid #dedbdb;
    /* border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    background: #dadada; */
    margin-bottom: 25px;
}

form.task > div > input, form.task > div > textarea, form.task > div > select, form.project input, form.project select {
    margin-bottom: 15px;
    padding: 6px;
    border: 1px solid #a5afbd;
    border-radius: 4px;
    outline: none;
    color:rgb(21, 27, 38);
    /* border: none; */
    /* border: 1px solid gray; */
}

form input:focus, form select:focus, form textarea:focus {
  border-color: #45A29E;
    box-shadow: 0 0 5px #45A29E;
} 
form.task select, form.project select {
   -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* border: none; */
    background: white url("data:image/svg+xml;utf8,<svg viewBox='0 0 70 70' width='12' height='12' xmlns='http://www.w3.org/2000/svg'><g><path transform='scale(0.5)' d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='black'/></g></svg>") no-repeat;
    background-position: right 5px top 50%;
}

.react-datepicker-wrapper {
  margin: 0px !important;
}

.react-datepicker-wrapper input {
    margin-bottom: 15px;
    padding: 6px;
    width: 100%;
    outline: none;
    /* border: none; */
        border: 1px solid #a5afbd;
    border-radius: 4px;
}

form.task > div label, form.project label {
margin-bottom: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #6f7782;

}

button:hover {
  cursor: pointer !important;
}

form.task > div > div {
  margin: 15px auto 0 auto;
  /* padding-bottom: 10px; */
  /* margin-bottom: 10px; */
}

form.task .task-show {
  background:#1F2833;
  box-sizing: unset;
  border-radius: 10px;
  padding: 6px;
}

form.task > ul.none {
  display: none;
}

input[type="radio"]:focus {
  outline:none !important;
  border:none !important;
}

form.task > ul {
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
      /* margin-top: 25px; */
}

form.task li {
  display: flex;
    flex-direction: row;
    align-items: center;
        padding: 6px 15px;
    border-radius: 30px;
    background: #45A29E;
    justify-content: space-between;
}

form.task ul label {
      margin-right: 20px;
    color: white;
    font-weight: 500;
}

form.task li div {
  cursor: pointer;
}

form.project button {
  margin-top:20px;
}
form.task > button, form.task > div > button, form.project button {
    padding: 6px 15px;
    border-radius: 10px;
    background: #45A29E;
    font-size: 15px;
    color: white;
    /* margin: 0px 20px; */
    font-weight: 500;
}

form.task > button {
      margin: 0px 20px;
    background: #1F2833;
}

form.task > div > ul {
  display:flex;
  flex-direction: row;
  color: #45A29E;
  font-weight:500;
  font-size: 13px;
      align-items: center;
          margin-bottom: 20px;
}

form.task > div > ul div {
  margin-right: 20px;
}

form.task > div > ul input {
  margin-right: 5px;
}

/* TASK MODAL ITEM */

#modal-task {
  display:flex;
  flex-direction: column;
  padding:20px;
}

#modal-task section:first-of-type {
  padding-bottom:20px;
}

#modal-task h1 {
  line-height: 23px;
  font-size: 18px;
  margin-right: 10px;

  font-weight: bold;
}

#modal-task section:first-of-type div {
  /* line-height: 18px;
  text-align: center;
  color: #6f7782;
  cursor:pointer;
  padding: 3px 5px;
  border: 1px solid #6f7782;
  border-radius: 4px;
  align-items: center; */
}

#modal-task .status {
      /* background: #45a29e; */
    line-height: 23px;
    text-align: center;
    text-align: center;
    cursor: pointer;
    color: white;
    min-width: unset;
    padding: 0 10px;
    font-weight: 500;
    border-radius: 4px;
}

#modal-task .status:hover {
  box-shadow: 0 0 3px gray;
}

#modal-task .status.green {
  background: #45a29e;
}

#modal-task .status.red {
  background: red;
}

/* #modal-task section:first-of-type div:hover {
  border: 1px solid #45A29E;
  color:#45A29E;
  fill:#45A29E;
}
#modal-task section:first-of-type div:hover * {
  fill:#45A29E;
}

#modal-task section:first-of-type div.red:hover {
  border: 1px solid #ce6b73;
  color:#ce6b73;
  fill:#ce6b73;
}
#modal-task section:first-of-type div.red:hover * {
  fill:#ce6b73;
} */

.mt-svg2 {
  margin-right:5px;
}

#modal-task > section {
  display: flex;
  flex-direction: row;
  padding-bottom:20px;
  border-bottom: 1px solid #e6e3e3;
  
}

#modal-task >  * {
  margin-bottom: 20px;
}

#modal-task section:nth-of-type(2) {
  justify-content: space-between;
  margin-right: 10px;
}

#modal-task > section > div {
  display:flex;
  flex-direction: row;
  font-size:12px;
      min-width: 105px;
}

#modal-task > section > div > div:first-child {
  border-radius: 50%;
  background: #45A29E;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  color: white;
  width: 30px;
  align-items: center;
  display:flex;
  justify-content: center;
}

#modal-task > section > div > div:last-child {
  display:flex;
  flex-direction: column;
  margin-left:7px;
}

#modal-task label {
color: #6f7782;
    font-weight: 500;
    line-height: 15px;
    font-size:12px;
}

#modal-task section:nth-of-type(3) {
  flex-direction: column;
}

#modal-task section:nth-of-type(3) .mt-svg {
  background: white;
}

#modal-task section:nth-of-type(2) label {
  margin-bottom:4px;
}

#modal-task textarea {
  outline: none;
    border: none;
    width: 100%;
    padding: 8px;
}

#modal-task textarea:hover , #modal-task textarea:active {
  border: 1px solid #c7c6c6;
    border-radius: 5px;
}

#modal-task > div {
    display: flex;
    flex-direction: row;
    width: 140px;
    justify-content: space-between;
    margin: 10px auto;
}

#modal-task > div > button{
    line-height: 25px;
    padding: 3px 5px;
    border-radius: 10px;
    border: none;
    min-width: 60px;
    cursor:pointer;
    color: white;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 0 8px grey;
}


#modal-task button:first-child {
   background: gray;
}

#modal-task button:last-child {
   background: #45A29E;
}

#modal-task div.editable {
  position: relative;
}

#modal-task div.editable div:first-of-type {
  cursor:pointer;
}

#modal-task div#tmi-date {
  position:absolute;
    top: 0;
    left: 0;
    transform: translate(0%, 40%);
}
#modal-task div.hide {
  display:none;
}

.react-datepicker-popper[data-placement^="bottom"] {
  top: -10px !important;
}