/* #0B0C10 - black
#1F2833 - dark gray blue
#C5C6C7 - gray
#66FCF1 - brightteal
#45A29E - teal */

nav.navbar {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 70px;
  background: black;
  /* background: #1F2833; */
  height: 100vh;
  color: white;
  /* padding: 20px; */
  position:fixed;
  z-index: 2;
}

nav.navbar.expanded {
  width: 180px;
}

#sb-arrow {
  margin: 0 0px 0 auto;
}

.close {
  display: none;
}

#navbar > div {
  display: flex;
  flex-direction: row;
  cursor:pointer;
  margin: 20px 23px 0 23px;
}

#navbar label {
  line-height: 24px;
  margin-left: 20px;
}

#navbar h2 {
  line-height: 24px;
  margin-right: 10px;
}

/* #navbar button, #settings {
  margin: auto auto 20px auto;
  border-radius: 10px;
} */
#navbar > div:last-child {
  margin: auto 23px 20px 23px;
  position: relative;
}


div.home-display-none {
  display:none
}

div.search {
  display: block;
}

#navbar > div > ul {
position: absolute;
    /* height: 200px; */
    background: white;
    box-shadow: 0 0 10px grey;
    right: -180px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #45a29e;
    border-radius: 4px;
    min-width:140px;
}

#navbar ul > * {
  margin-bottom: 10px;
  font-weight: 500;
}

.notify {
  position:relative;
}

#notify-num {
position: absolute;
    height: 25px;
    width: 25px;
    top: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    left: 15px;
    background: red;
    color: white;
}

