/* #0B0C10 - black
#1F2833 - dark gray blue
#C5C6C7 - gray
#66FCF1 - brightteal
#45A29E - teal */

#project-show {
  /* margin: 0px 10%; */
  margin: 0px ;
  padding: 40px 0px;
}

#project-show > div:first-child {
  display:flex;
  flex-direction: row;
  /* margin: 50px 0 50px 0; */
  margin: 0px 0 50px 0;
      align-items: center;
      padding: 0px 40px;

}

#project-show h1 {
  font-size: 30px;
  margin-right: 20px;
  /* margin: 50px 0 50px 0; */
  /* text-align: center; */
  color: #1F2833;
  font-weight: 700;
}

#project-show > ul {
  display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #e8ecee;
    /* padding-bottom: 20px; */
    margin-bottom: 40px;
    padding: 0px 40px;
}

#project-show > ul >li {
  margin-right: 30px;
      padding: 0 3px 20px 3px;
    /* border-bottom: 3px solid #45a29e; */
    cursor: pointer;
}
#project-show > ul >li.selected {
  border-bottom: 3px solid #45a29e;
}


#task-index {
      padding: 50px 100px;

}

.plus-show {
padding: 7px;
    box-sizing: unset;
    background: #45a29e;
    border-radius: 10px;
    cursor: pointer;
        margin-right: 20px;
}

.trash {
  cursor: pointer;
}

#project-show h2 {
  font-size: 20px;
  /* padding-bottom: 15px; */
  margin-bottom: 30px
}

.project-task-filter {
  display: flex;
  flex-direction: row;
  justify-content: normal !important;
}

button.tb {
  outline:none;
  border: none;
  font-size: 13px;
  margin: 0 10px 20px 0;
  padding: 7px;
  border-radius: 4px;
  background: white;
  cursor: pointer;
}


button.tb:hover {
  background: #f3f3f3;
}

button.tb.selected {
  background: #f3f3f3;
}

#task-index > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#task-index > div > section {
  padding: 30px 15px;
  background: #f3f3f3;
  border-radius: 10px;
  width: 30%;
  
}

#task-index h3 {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 17px;
  color: #45a29e;
}

#task-item {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px #adaaaa;
  position: relative;
}

#task-item div#trash {
      position: absolute !important;
    bottom: 5px !important;
    right: 5px !important;
    margin: 0px !important;
    display: initial !important;
}


#task-item > div:first-child {
  margin-bottom: 15px;
  align-items: center;
}

#task-item h4 {
margin-right: 10px;
    color: #636262;
    font-weight: 500;
}

#task-item > * {
  margin-bottom: 10px;
}


#task-item > div {
  display: flex;
  flex-direction: row;
  /* color: #45a29e; */
  color: gray;
}

#task-item label { 
  font-weight: 400;
  line-height: 16px;
  margin: 2px auto 0 5px;
}

div.ti.close {
  display: none;
  cursor: unset;
}

div.ti {
    position: absolute;
    width: 160px;
    top: -25px;
    left: 120px;
    display: flex;
    flex-direction: row;
    background: #f3ead5;
    z-index: 1;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;

    cursor: pointer;
}

.droppable li {
  position: relative;
}

.warn {
  min-width: 24px;
  margin: auto;
}

div.ti h5 {
  margin-left: 8px;
}

.draggable {
  cursor: pointer;
}

.draggable * {
  cursor: pointer;
}

#task-item div:last-child {
      margin-right: 25px;
}

/* #task-item .trash {
      position: absolute;
    bottom: 0;
    right: 10px;
} */

