/* #0B0C10 - black
#1F2833 - dark gray blue
#C5C6C7 - gray
#66FCF1 - brightteal
#45A29E - teal */


#splash {
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  background:#1F2833;
}

#splash > nav {
  position: absolute;
  top: 0;
  width: 100vw;
  background: black;
  height: 12vh;
  display: flex;
    flex-direction: row;
    align-items: center;

}

#splash h1 {
  font-size: 20px;
  font-weight: 700;
  color: #66FCF1;
  margin: 0 20px;
  /* margin: 20vh auto 10vh auto; */
}

#session {
    width: 500px;
    min-width: 350px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    margin: auto auto auto auto;
}

#session > * {
  margin-bottom: 15px;
}

#session > div {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#session > div > input {
  width: 47%;
}

#session input{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #43a59d;
}

#session > button {
  background: #43a59d;
  color: white;
  font-weight: 700;
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}

#session > button.demo {
  background: #1F2833;
}

#session > h3 {
      color: #1F2833;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}

#session > a {
  color: #43a59d;
  text-align:center;
  font-weight:500;
  cursor: pointer;
  font-size: 14px;
}